/*
 * Underlines on links are very helpful for accessibility because they help people find links
 * The default underline is kind of ugly, a border works and looks visually more pleasing
 */
a,
a:link {
	border-bottom: 1px solid rgba(0, 119, 221, 0.5);

	color: #07d;
	text-decoration: none;
}

a:visited {
	border-color: rgba(81, 112, 138, 0.5);

	color: #51708a;
}

/*
 * It's okay to remove the `outline` from `:hover` and `:active` but never `:focus`
 */
a:hover,
a:active {
	outline: none;
}

/*
 * The `:focus` state is extremely important for keyboard users.
 * It helps them see which link is currently selected.
 */
a:focus {
	outline: 3px solid #000;
}

.skiplinks {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
	padding: 0.5em 0.75em;
	position: absolute;
	top: -10em;

	background-color: #000;

	color: #fff;
	font-size: 1.125em;
	font-weight: bold;
	text-decoration: none;
}

.skiplinks a:hover,
.skiplinks a:focus,
.skiplinks a:active {
	top: 0;
}
